// Same fonts used in Hooligan theme for Ruhoh:

@import url(http://fonts.googleapis.com/css?family=Advent+Pro);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
//@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);


// KD 2012 palette:

$brown: #4C2F12;
$dark_brown: #25120A;
$near_black: #0C0100;
$tan: #996633;
$tan_orange: #8C5236;
$tan_red: #591212;
$dark_teal: #0A3D4C;
$teal: #338199;

body {
  background-image: -webkit-linear-gradient(top left, lighten($tan, 20%), lighten($tan, 40%));
  background-image:    -moz-linear-gradient(top left, lighten($tan, 20%), lighten($tan, 40%));
  background-image:     -ms-linear-gradient(top left, lighten($tan, 20%), lighten($tan, 40%));
  background-image:      -o-linear-gradient(top left, lighten($tan, 20%), lighten($tan, 40%));
  background-image:         linear-gradient(top left, lighten($tan, 20%), lighten($tan, 40%));
}

.slide {
  background: white;

  ul {
    text-align: left;
  }
}

pre {
  text-align: left;
  line-height: 21px;
}

code {
  background: none;
  font-size: 19px;
  font-family: 'Ubuntu Mono', monospace;
}

.step.screen {
  h3 {
    text-align: left;
    margin: 0 0 -0.15em 0;
  }

  pre {
    background-color: $near_black;
    border: solid 3px $brown;
    font-size: 16px;
    margin: 0;
    padding: 3px 2px;;
    text-align: left;

    code {
      background-color: $near_black;
      color: #E5E5E5;

      em, strong {
        color: #FFFFFF;
      }
    }
  }
}

.step.left {
  text-align: left;
}

.step.hidden {
  opacity: 0;
}
.step.active.hidden {
  opacity: 1;
}

.step pre code {
  .black {
    color: $near-black;
  }

  .blue {
    color: #0000CC;
  }

  .brown {
    color: $brown;
  }

  .gray {
    color: #AAAAAA;
  }

  .green {
    color: #00CD00;
    strong {
      color: #00FF00;
    }
  }

  .teal {
    color: #00CDCD;
  }

  .yellow {
    color: #CDCD00;
  }

  strong {
    color: #FFFFFF;
    font-weight: 700;
  }

  strong.green {
    color: #00FF00;
  }

  strong.teal {
    color: #00FFFF;
  }

  strong.yellow {
    color: #FFFF00;
  }
}

$step_padding_h: 30px;
$step_padding_v: 20px;
.step {
  color: $brown;
  font-family: 'Oxygen', sans-serif;
  padding: $step_padding_v $step_padding_h;
  width: 720px + 120px - 2*$step_padding_h;
  height: 480px + 80px - 2*$step_padding_v;
  text-rendering: optimizelegibility;

  blockquote {
    text-align: left;
  }

  h1, h2, h3 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: normal;
    text-rendering: optimizelegibility;
    margin: 0.2em 0;
    color: $tan_orange;
    text-shadow: 1px 1px 1px $near_black;
  }

  h2 {
    font-size: 2em;

    .cuke {
      text-shadow: -2px 3px 2px #5CAD35;
    }
  }

  h2.one-line {
    margin-top: 10%;
    font-size: 4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h3.one-line {
    margin-top: 1.2em;
    font-size: 2.3em;
  }

  h4, h5 {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    text-rendering: optimizelegibility;
    color: $tan_orange;
    text-shadow: 1px 1px 1px $near_black;
    //text-indent: -1em;
  }

  h4 {
    font-size: 1.7em;
    margin: 0.1em 0;
  }

  h5 {
    font-size: 0.95em;
    margin: 0 0 0 1em;
  }

  p {
    margin: 0.7em 0;
  }

  em, strong {
    color: $near_black;
  }

  .cuke {
    color: #164B2B;
    font-weight: 600;
    text-shadow: -1px 2px 1px #5CAD35;
  }

  .small {
    font-size: 0.5em;
  }

  .giant {
    color: $near_black;
    font-size: 4em;
    font-weight: bold;
    line-height: 0.9em;
  }

  .sup {
    color: $brown;
    font-size: 1em;
    font-weight: normal;
    vertical-align: top;
  }

  div.left-no-margin {
    text-align: left;

    p {
      font-size: 22px;
      margin: 0.05em 0;
    }

    pre {
      font-size: 22px;
      margin: 0;
      padding: 3px 2px;
      code {
        background: none;
        color: $near_black;
        font-size: 22px;
      }
    }
  }
}


